<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.androidhive.rxandroidexamples">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".basics.Example1Activity" />
        <activity android:name=".basics.Example2Activity" />
        <activity android:name=".basics.Example3Activity" />
        <activity android:name=".basics.Example4Activity" />
        <activity android:name=".observers.ObservableActivity" />
        <activity android:name=".observers.FlowableObserverActivity" />
        <activity android:name=".observers.SingleObserverActivity" />
        <activity android:name=".observers.MaybeObserverActivity" />
        <activity android:name=".observers.CompletableObserverActivity" />
        <activity android:name=".networking.volley.JsonObjectRequestActivity" />
        <activity android:name=".networking.retrofit.ContactsListActivity"></activity>
        <activity android:name=".networking.retrofit.ContactsSearchLocalActivity">

        </activity>
        <activity android:name=".networking.retrofit.ContactsSearchRemoteActivity" />
        <activity android:name=".networking.retrofit.ContactsListMultiRemoteActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>